{% extends "base.html" %}
{% block content %}
        <h1>Jignyas's Personal File Server</h1>

    <div class="urlinp">
        <form action="servefile/" method="post">
            {% csrf_token %}
            <label for="inp"><h3>Code</h3></label>
            <input type="text" name="inp" id="inp" required>

            <button type="submit">
                Check for Materials
            </button>
        </form>
    </div>
{% endblock %}

{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Link Explorer</title>#}
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
{#</head>#}
{#<body>#}
{#    <div class="bg"></div>#}
{#    <h1>Jignyas's Personal File Server</h1>#}
{##}
{#    <div class="urlinp">#}
{#        <form action="servefile/" method="post">#}
{#            {% csrf_token %}#}
{#            <label for="inp"><h3>Code</h3></label>#}
{#            <input type="text" name="inp" id="inp" required>#}
{##}
{#            <button type="submit">#}
{#                Check for Materials#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
{#</body>#}
{#</html>#}